body{
    font-family: 'roboto';
    padding:10% 0px;
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.column-flex *{
    margin-bottom: 6vw;
}

h1 {
    color: #00519D;
    font-size: 4vw;
    font-weight:300;
    text-align: center;
}

input{
    border: 2px solid #FF6700;
    border-radius: 7px;
    padding: 2vw 5.5vw;
    width:50%;
    font-size:2vw;
    font-family: 'roboto';
    text-align: center;
    cursor:text;
}
input::placeholder{
    color: #969696;
}

button{
    background-color: #FF6700;
    color:white;
    font-size: 2.1vw;
    border: 1px solid #FF6700;
    border-radius: 4px;
    font-family: 'roboto';
    width: 30vw;;
    height: 7vw;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    body{
        padding-top: 20vh;
    }
    button, input{
        text-align: center;
        height: 9vw;
        width: 90%;
        padding: 0 0;
        font-size:4vw;
    }
    
    h1{
        font-size: 10vw;
        width: 83%;
    }
    
}